{% extends 'base.html' %} 
{% load static %} 
{% block head %}
    <link rel="stylesheet" href="{% static 'css/inventory/products-list.css' %}" />
{% endblock %}

{% block content %}
    <h1 class="page-title">Product List</h1>
    
    <ul class="inventory-list">
        {% for product in object_list %}
            <li class="product-item">
                <a href="{% url 'products-detail' product.id %}" class="product-link">
                    <strong class="product-name">{{ product.name }}</strong>
                </a>
                <span class="product-par">Par: {{ product.par }}</span>
            </li>
        {% empty %}
            <li class="product-item empty-state">No products found.</li>
        {% endfor %}
    </ul>
{% endblock %}