{% extends 'base.html' %} 
{% load static %} 
{% block head %}
    <link rel="stylesheet" href="{% static 'css/inventory/products-list.css' %}" />
{% endblock %}

{% block content %}
<div class="form-wrapper">
    <div class="form-card">
        <h1>{% if object %}Edit {{ object.name }}{% else %}Add Product{% endif %}</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-body">
                {{ form.as_p }}
            </div>
            <div class="form-footer">
                <button type="submit" class="btn-save">
                    {% if object %}Save Changes{% else %}Create Product{% endif %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}