{% extends 'base.html' %} 
{% load static %} 
{% block head %}
    <link rel="stylesheet" href="{% static 'css/orders/orders-create.css' %}" />
{% endblock %}

{% block content %}
<div class="order-form-container">
    <header class="order-header">
        <h1>
            {% if is_update %}
                Edit Order: {{ guide.name }}
            {% else %}
                New Order: {{ guide.name }}
            {% endif %}
        </h1>
        <p class="order-meta">
            Order Date: 
            {% if is_update %}
                {{ order_date|date:"F d, Y" }}
            {% else %}
                {{ date|date:"F d, Y" }}
            {% endif %}
        </p>
    </header>

    <form method="post" class="order-sheet">
        {% csrf_token %}
        {{ form.as_p }}
        {{ order_items.management_form }}
        <table class="order-table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Par Level</th>
                    <th>Stock on Hand</th>
                    <th>Order Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for item_form in order_items %}
                {{ item_form.id }}
                <tr class="order-row">                    
                    {% for hidden in item_form.hidden_fields %} {{ hidden }} {% endfor %}
                    <input type="hidden" name="{{ item_form.prefix }}-product" value="{{ item_form.product_obj.id }}">
                    <td class="product-name">
                        <strong>
                            {% if item_form.instance.product %}
                                {{ item_form.instance.product.name }}
                            {% else %}
                                {{ item_form.product_obj.name }}
                            {% endif %}
                        <strong>
                        {{ item_form.product.as_hidden }}
                    </td>
                    <td class="par-level">
                        {% if item_form.instance.product %}
                            {{ item_form.instance.product.par }}
                        {% else %}
                            {{ item_form.product_obj.par }}
                        {% endif %}
                    </td>
                    <td class="stock-input">
                        {{ item_form.stock_on_hand }}
                    </td>
                    <td class="suggested-val">
                        {{ item_form.quantity_ordered }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="form-actions">
            <button type="submit" class="btn-primary">
                {% if is_update %}Update Order{% else %}Submit Order{% endif %}
            </button>
            <a href="{% url 'orders-history' %}" class="btn-secondary">Discard Changes</a>
        </div>
    </form>
</div>
{% endblock %}