<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block title %}
    {% endblock %}
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-container">
            <a href="/">Home</a>
        </div>
    </header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'products-list' %}">Inventory</a></li>
                <li><a href="{% url 'product-create' %}">Add a Prodcut</a></li>
                <li><a href="{% url 'orders-list' %}">Previous Orders</a></li>
                <li><a href="{% url 'orders-create' %}">Place an Order</a></li>
                <li>
                    <form id="logout-form" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Log out</button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'home' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
        </ul>
    </nav>
    <main class="content-container">
        {% block body %}
        {% endblock %}
    </main>
</body>
</html>